body {
    background-color: #eef2f7;
}

h1 {
    font-weight: bold;
    color: #343a40;
}

.card {
    border: none;
    border-radius: 10px;
}

#question-content, #error-review {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}

.option-btn {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    white-space: normal;
}

#question-content.flip {
    cursor: pointer;
    user-select: none;
}

#feedback {
    font-size: 1.1em;
}

.correct {
    color: #28a745;
}

.incorrect {
    color: #dc3545;
}

.list-group-item {
    cursor: pointer;
}
